* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    opacity: 0;
    animation: fadeIn .5s ease-in forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; } 
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white; /* semi-transparent background */
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Fleur De Leah";
    text-decoration: none;
}

.hero {
    height: 100vh;
    color: white;
    background-image: url('peanut.jpg'); /* Puedes reemplazar esta URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px 20px 20px;
    font-size: 500%;
    font-weight: bold;
}
.rico {
    font-family: "Fleur De Leah";
    font-size: 200%;
    color: rgb(255, 0, 0);
}

.dropbtn {
    color: black;
    background-color: rgb(0, 0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.dropdown {
    margin-left: 20px;
    position: relative;
    display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: rgb(45, 151, 221);
}